In [1]:
import pandas as pd

products_df = pd.read_csv('../data/amazon_meta.csv')
reviews_df = pd.read_csv('../data/amazon_reviews.csv')

# print(df.head())

# print(df['details'].iloc[0])

# print(df.columns)

In [ ]:
print(products_df.columns)
print(products_df.head().to_markdown())

In [ ]:
print(reviews_df.columns)
print(reviews_df.head().to_markdown())

In [ ]:
missing = reviews_df.isna().sum()
missing_percent = (missing / len(reviews_df)) * 100
missing_summary = pd.DataFrame({
    "missing_count": missing,
    "missing_%": missing_percent.round(2)
}).sort_values(by="missing_%", ascending=False)
print("\n Missing Values Summary:")

display(missing_summary)

 Missing Values Summary:

                   missing_count  missing_%
title                        804       0.02
text                        1033       0.02
Unnamed: 0                     0       0.00
rating                         0       0.00
images                         0       0.00
asin                           0       0.00
parent_asin                    0       0.00
user_id                        0       0.00
timestamp                      0       0.00
helpful_vote                   0       0.00
verified_purchase              0       0.00

In [ ]:
# 50% of products missing price
missing = products_df.isna().sum()
missing_percent = (missing / len(products_df)) * 100
missing_summary = pd.DataFrame({
    "missing_count": missing,
    "missing_%": missing_percent.round(2)
}).sort_values(by="missing_%", ascending=False)
print("\n Missing Values Summary:")
display(missing_summary)

 Missing Values Summary:

                 missing_count  missing_%
bought_together         137269     100.00
author                  137007      99.81
subtitle                136919      99.75
price                    75261      54.83
main_category            11036       8.04
store                     4375       3.19
title                        9       0.01
Unnamed: 0                   0       0.00
average_rating               0       0.00
images                       0       0.00
description                  0       0.00
features                     0       0.00
rating_number                0       0.00
details                      0       0.00
categories                   0       0.00
videos                       0       0.00
parent_asin                  0       0.00

In [ ]:
# TODO:
# Data Cleaning Steps:
# Change na values to empty strings in product titles in product_reviews
# Change na values to empty strings in store, titles, and main_categorey in products_df

# Impute median value for missing prices in products_df
# Get rid of bought_togher, author, subtitle in products_df

# Join on parent_asin 
# save this combined dataframe to csv

In [ ]:
# TODO:
# Recommender System Steps:
# Build item representation
# Follow steps similar to assign 3 notebook 4 
# EX: make all strings into a vector representation using TFIDF/BM25 
# EX: add SCALED numerical features like price, review ratings, etc.
# Compute item to item similarity matrix